extends templates/layout

block content
    .main-metro
        .wrapper
            .wrapper-cont
                .metro__grid.grid-2.metro-center
                    ul.bxslider
                        li
                            .metro-cont(style="background-image: url(images/tmp/metro-1.jpg);")
                                .metro__top(style="margin-left: 140px") Женская коллекция<br>лето 2015
                                .metro__title(style="margin-left: 140px") Сафари Парк
                                .metro__desc(style="margin-left: 140px") Летние образы и купальные костюмы для нового сезона
                        li
                            .metro-cont(style="background-image: url(images/tmp/metro-6.jpg);")
                                .metro__top(style="margin-left: 240px") Коллекция лето 2015
                                .metro__title(style="margin-left: 240px") Лето<br> в разгаре
                                .metro__desc(style="margin-left: 240px") Летние наряды для тебя и твоих подруг
                        li
                            .metro-cont(style="background-image: url(images/tmp/metro-7.jpg);")
                                .metro__top(style="margin-left: -90px") Must have
                                .metro__title(style="margin-left: -90px") Яркая защита<br> от солнца
                                .metro__desc(style="margin-left: -90px") Летние аксессуары от 150 руб.
                .metro__grid.grid-1.metro-promo.whover2
                    .metro-cont(style="background-image: url(images/tmp/metro-2.jpg);")
                        .metro__promo-text Ты можешь позволить себе большее
                        .metro__promo-tag #<b>Modis</b>Bonus
                .metro__grid.grid-1.whover
                    .metro-cont(style="background-image: url(images/tmp/metro-3.jpg);")
                        .metro__top Мужская коллекция<br>лето 2015
                        .metro__title Бархатный<br>сезон
                .metro__grid.grid-1.whover
                    .metro-cont(style="background-image: url(images/tmp/metro-4.jpg);")
                        .metro__top Lookbook
                        .metro__title Летний<br>отдых
                .metro__grid.grid-1.whover
                    .metro-cont(style="background-image: url(images/tmp/metro-5.jpg);")
                        .metro__top Звезда
                        .metro__title Аврора<br>специально<br>для Modis
                .clearfix
    .popular-line
        span Популярные категории
    .popular-list
        .wrapper
            .wrapper-cont
                .list__item
                    a(href="#" style="background-image: url(images/tmp/popular-1.jpg);").item__image
                    a(href="#").item__title Аксессуары
                .list__item
                    a(href="#" style="background-image: url(images/tmp/popular-2.jpg);").item__image
                    a(href="#").item__title Деним
                .list__item
                    a(href="#" style="background-image: url(images/tmp/popular-3.jpg);").item__image
                    a(href="#").item__title Футболки
                .list__item
                    a(href="#" style="background-image: url(images/tmp/popular-4.jpg);").item__image
                    a(href="#").item__title Платья
                .list__item
                    a(href="#" style="background-image: url(images/tmp/popular-5.jpg);").item__image
                    a(href="#").item__title Базовые модели
                .list__item
                    a(href="#" style="background-image: url(images/tmp/popular-6.jpg);").item__image
                    a(href="#").item__title Рубашки
                .clearfix
    .news-delivery
        .delivery__title Новостная рассылка
        .delivery__desc Узнавай о последних модных трендах и специальных предложениях.
        .delivery__form
            form
                input.form__input(placeholder="Введите Ваш е-мейл")
                button(type="submit").black-btn Подписаться